/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Contenedor del formulario */
.form-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilos para los campos del formulario */
.register {
    margin-bottom: 15px;
    text-align: left;
}

.register label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el select de roles */
.role-container {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.role-input {
    padding: 8px;
}

/* Estilos para el botón de registro */
.form-register button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-register button[type="submit"]:hover {
    background-color: #218838;
}

/* Estilos para el botón de volver */
.register-comeback{
    position: absolute;
  top: 20px;
  left: 20px;
}

.comeback button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comeback button:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de error */
.error-message {
    color: red;
    margin-bottom: 15px;
}